@import"../../theme";

.report-comp{
    padding-top:40px;
}

form{
   display:flex;
   flex-direction: column;
   justify-content: center;
}

textarea{
   margin-top:15px;
   width:80vw;
   height:190px; 
   font-size:1rem;
}

select{
    margin-top:30px;
    width:100%;
    color: $color__text_red;
    background:none;
    height:40px;
    border:none;
    font-size:1.1rem;
    border-bottom: 1px solid white;
    border-radius: 0;
    appearance:none;
}

    ::placeholder{
    color: $color__text_red;
}

a{
    margin-top:40px;
    color:$color__text_white;
    font-size:2.2rem;
    text-decoration: none;
}