@import"../../theme";

.encounters-comp{
    background:white;
}

.loaded{
    display:none;
}

img{
    position:fixed;
    top:40%;
    left:50%;
    width:50px;
    transform: translateX(-50%);
}


h1{
    color:$color__text_black;
     font-size:2.2rem;
    text-align:center;
}

p{
    font-weight:100;
    font-size:1.2rem;
    text-align: center;
    text-align:left;
    color:$color__text_black;
}

.report-list{
    height:62vh;
    overflow: scroll;
}

.report-item{
padding: 10px 15px;
}

.header{
    width:100%;
    height:18vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    background: black;
    color:white;
    height:20vh;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    a{
        color:$color__text_white;
        padding:10px 0;
         font-size:2.2rem;
    text-align:center;
    }
}
