<div class="encounters-comp">
  <div class="header">
<h1>Recent Encounters</h1>
<p>See an Alien? Report it!</p>
</div>

<div class="report-list">

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>first Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div class ="report-item">
  <p>2016-11-18 - Name</p>
  <p>last Passersby were amazed by the unusually large amounts of blood. 
    Passersby were amazed by the unusually large amounts of blood.</p>
</div>

<div>

</div>


<div class="footer">
<a routerLink = "/report" >Report Encounter</a>
</div>
