.home-comp{
    background:linear-gradient(#343332, #f27b7b);
    height:100%;
    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1,h2{
    display:inline;
    text-align: center;
    font-size: 2rem;
    font-weight:100;
    color:white;
}

h1{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.enter-button {
   
    margin:0 auto;

    border-radius:50%;
    background: rgba(255, 255, 255, 0.5);

    width:70px;
    height:70px;
    /*opacity: 0;*/
    box-shadow: 
    0 0 0 20px rgba(255, 255, 255, 0.025),
    0 0 0 40px rgba(255, 255, 255, 0),
    0 0 0 60px rgba(255, 255, 255, 0);


    animation: button-pulse 3s infinite;
    /*animation-name: button-pulse;
    animation-duration: 4s;*/
}

@keyframes button-pulse{

    0%  {
    background: rgba(255, 255, 255, 0.0); 
    box-shadow: 
    0 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 0 40px rgba(255, 255, 255, 0.1),
    0 0 0 60px rgba(255, 255, 255, 0.1);
    }
    
    25%  {
    background: rgba(255, 255, 255, 0.025);
    box-shadow: 
    0 0 0 30px rgba(255, 255, 255, 0.075),
    0 0 0 50px rgba(255, 255, 255, 0.075),
    0 0 0 70px rgba(255, 255, 255, 0.075);
    }
    50%  {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 
    0 0 0 30px rgba(255, 255, 255, 0.05),
    0 0 0 50px rgba(255, 255, 255, 0.05),
    0 0 0 80px rgba(255, 255, 255, 0.0);
    }
    75%  {
    background: rgba(255, 255, 255, 0.075);
    box-shadow: 
    0 0 0 30px rgba(255, 255, 255, 0.025),
    0 0 0 60px rgba(255, 255, 255, 0.0),
    0 0 0 70px rgba(255, 255, 255, 0.0);
    }
    100% {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 0 0 40px rgba(255, 255, 255, 0.0),
    0 0 0 50px rgba(255, 255, 255, 0.0),
    0 0 0 70px rgba(255, 255, 255, 0.0);
    }
}



