<div class="register-comp">


<h1>Register</h1>
<div class="input-container">

<form [formGroup]="registerForm" [ngClass]="{ invalid:registerForm.invalid }">
    <fieldset>
        <input type="text" placeholder="Name" required formControlName="name" name="name">
        <input type="number" placeholder="Age" required formControlName="age" name="age">
        <div class="custom-select">
            <select required formControlName="job_id" name="job_id">
                <option value="">Select an Occupation</option>
                <option *ngFor="let job of marsJob" value="{{ job.id }}">{{ job.name }}</option>
            </select>
        </div>
    </fieldset>
   <button type="button" (click)="logColonist()">Log Colonist</button>
</form>


<!--<a class="check-in-button" routerLink = "/encounters">Check In</a>-->
<a class="check-in-button" (click)="submitLogin()">Check In</a>

</div>


