<div class="register-comp">


<h1>Register</h1>
<div class="input-container">

  <input placeholder="Name" required [(ngModel)]="fakeColonist.name" name="colonitsName">

  <input placeholder="Age" required [(ngModel)]="fakeColonist.age" name="colonistAge">

  <select required [(ngModel)]="fakeColonist.job" name="colonistJob">
    <option value="(none)" disabled selected>Select Occupation</option>
    <option *ngFor="let job of marsJob" value="{{job.description}}">{{job.description}}</option>
  </select>

</div>

<h1> New Colonist: {{fakeColonist}} </h1>
<a class="check-in-button" routerLink = "/encounters">Check In</a>

</div>


